body{
	font-family: "微软雅黑";
	font-family: "宋体";
	font-size: 13px;
	color:#000000;
	text-align:center;
	margin:0 auto;
	background-color:#Ddfffa;
	padding:0;
	border:0;
}
canvas{
	border:1px solid;
	margin:5px auto;
	margin-bottom:0px;
	border-color:#cceee9;
	z-index:999;
}
.canvas-start-over{
	background-color:#99ccdd;
}
article {
	width:640px;
	border:1px solid;
	margin:0 auto;
	border-color:#cceee9;
}
 input{
  border:0;
  background-color:#ffffff;
  padding:0px;
  color:#000000;
  cursor:pointer;
position:absolute;
}
input  #start {
  width:50px;
  height:50px;
  position:absolute;
  z-index:999;
}

#content {
	border-color:#cceee9;
    width:800px;
	margin:0 auto;
}
#information-for-user {
	margin: 0 auto;
	font-size:20px;
	height:24px;
	text-align: center;
	color:#ee00cc;
}
#instruction ul{
	list-style:none;
	color:#d71133;
	padding:0;

}
#instruction ul li{
	display:block;
}

#shadow{
background:#000;
position:absolute;
left:0;
top:0;
width:100%;
z-index:50;
opacity:0.95;
visibility:hidden;
}
.onstart{
background:url('images/start.png');
width:64px;
height:64px;
z-index:999;
	position:absolute;
text-indent:-9999px;
}
.onstart-over{
background:url('images/start-over.png');
width:64px;
height:64px;
z-index:999;
	position:absolute;
text-indent:-9999px;
}
.sys-information{
 text-align:left;
 width:600px;
 background:#eeeeee;
}
.sys-information  span{
	color:#88cd44;
	font-size:2em;
}
.key-information{
	font-size:16px;
}
.click-text{
	border:1px solid;
	color:#ee4400;
	cursor:pointer;
	padding-left:10px;
	padding-right:10px;
	padding-top:2px;
	padding-bottom:2px;
	z-index:999;
	position:absolute;
}